/* RESET BROWSER VALUES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  animation-delay: 0;
  transition: .6s;
}
/* --- */

/* ROOT */
:root {
  --body-bg: #121212;
  --button-color: #161616;
  --number-color: #181818;
  --calculator-bg: #212121;
  --calc-painel-bg: #161616;
  --calc-config-bg: #222222;
  --modal-bg: #222222;
  --error-color: #ff4d4d;
  --lights-color: #08efff;
  --bg-lights-color: #08efff30;
}
/* --- */

/* BODY STYLE */
body {
  background-color: var(--body-bg);
  overflow-y: hidden;
}
#lights-color {
  border: none;
  background-color: transparent;
  width: 50px;
  height: 40px;
}
#theme-color {
  margin: 0 5px;
  font-size: 20px;
  cursor: pointer;
}
.calculator-config {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--calc-config-bg);
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.error-modal {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--modal-bg);
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.show-error-modal {
  top: 10px;
}
.error-title {
  color: var(--error-color);
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: 20px;
}
/* --- */

/* BACKGROUND STYLE */
.background {
  word-wrap: break-word;
  text-align: center;
  cursor: default;
}
/* 
.background::selection, .number::selection {
  background-color: transparent;
} 
*/
.number {
  display: inline-block;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: 50px;
  color: var(--number-color);
}
.number:hover {
  cursor: default;
}
/* --- */

/* CALCULATOR STYLE */
.calculator {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 10px;
  width: 308px;
  background-color: var(--calculator-bg);
  animation: calculatorShadowAnimation 6s ease infinite alternate;
  border: 2px solid var(--lights-color);
}
.calculator-painel {
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  height: 65px;
  background-color: var(--calc-painel-bg);
  margin-bottom: 10px;
  text-align: right;
  line-height: 65px;
  font-size: 28px;
  color: var(--lights-color);
  padding-right: 10px;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  letter-spacing: 2px;
  cursor: default;
}
.calculator-grid {
  display: grid;
  grid-template-columns: 65px 65px 65px 65px;
  gap: 8px;
}
.calculator-button {
  height: 65px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  background-color: var(--button-color);
  cursor: pointer;
  color: var(--lights-color);
}
.alternative-button {
  background-color: var(--bg-lights-color);
}
/* --- */

.turnOnNumber {
  animation: turnOnNumber .8s linear 1;
}

/* KEYFRAMES */
@keyframes turnOnNumber {
  from {
    color: var(--lights-color);
    text-shadow: 0 0 50px var(--lights-color);
  }
  to {
    color: var(--number-color);
    text-shadow: none;
  }
}
@keyframes calculatorShadowAnimation {
  to {
    box-shadow: 0 0 100px var(--bg-lights-color);
  }
}
/* --- */
